body {
  min-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.next {
  display: flex;
  justify-content: center;
}

.next__button {
  border: 1px solid black;
}

.select {
  border: 1px solid black;
  width: 50%;
  min-height: 50px;
  margin: 20px;

  display: flex;
  flex-direction: column;
}

.description {
  border: 1px solid black;
  width: 50%;
  min-height: 50px;
  margin: 20px;
}

.main {
  display: flex;
}

/* .win {
  height: 100px;
  width: 100px;
  background-color: black;

  margin: 0 auto;
left: 50%;
  position: fixed;
} */